body {
	background-image:		url("../images/beerLarge.jpg");
	background-size:		cover;
	background-repeat:		none;
}

#mainContent {
	width:					100%;
	height:					100%;
	overflow:				scroll auto;
}
#textContainer{
	width:	500px;
	height:	500px;
	background-color: #FFF;
	margin-top:		500px;
}